{% extends "template.html" %}
{% block content %}
<div class="themes col-12">
    <h3>Thèmes</h3>
    <div class="row">
    {% if themes %}
        {% for t in range(themes|length) %}
        {% set theme = themes[t] %}
        {% set tunnel = tunnels[t] %}
        <div class="card text-center col-5 mt-3 mx-4">
            <div class="card-body">
                <h5 class="card-title">{{ theme }}</h5>
                
                <div class="tunnel mb-1">
                    {% for i in range(tunnel["lock_q"]) %}
                        <div class="segment gray"></div>
                    {% endfor %}
                    {% for i in range(tunnel["lock_q"], tunnel["last_q"] + 1) %}
                        <div class="segment red"></div>
                    {% endfor %}
                    {% for i in range(tunnel["last_q"], 9) %}
                        <div class="segment"></div>
                    {% endfor %}
                </div>
                <a href="{{ url_for('index') }}" class="btn btn-primary">Select</a>
            </div>
        </div>
    {% endfor %}
    {% endif %}
    </div>  
</div>
{% endblock %}